
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0px 0px; /* Padding for the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    direction: rtl;
    text-align: right;
}

header {
    background-color: #ffffff;
    color: #333333;
    padding: 20px ;
    box-shadow: 0 10px 4px rgba(0,0,0,0.1);
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .logo {
    max-width: 250px;
    margin-left: 20px;
}

header h1 {
    font-size: 28px;
    margin-top: 10px;
}
.company-info {
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}
.small-text {
    font-size: 16px;
    color: #666666;
}

.nav-center {
            display: flex;
            justify-content: center;
            gap: 5px; /* مسافة بين الأزرار */
            margin-top: 10px; /* مسافة فوق الأزرار */
        }
        .nav-center a {
            padding: 10px 10px;
            text-decoration: none;
            color: #000;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .nav-center a:hover {
            background-color: #f0f0f0;
        }

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 800px; /* Change max-width to 100% to make it responsive */
  height: auto; /* Auto adjust the height */
}

/* Adjust the image sizes to fit the container */
.container img {
  width: 100%; /* Set the image width to 100% to make it responsive */
  height: auto; /* Auto adjust the height */
  object-fit: cover;
}

/* Hide the images by default */
.mySlides {
  display: none;
   text-align: center;
}
.fade {
    animation-name: fade;
    animation-duration: 10s;
}

@keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
}

.mySlides img {
    max-width: 800px; /* تحديد العرض الأقصى للصور بنسبة مئوية من عرض العنصر الأصلي */
    height: auto; /* يحافظ على نسبة العرض إلى الارتفاع للحفاظ على تناسق الصورة */
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}





#contact {
    position: relative;
    bottom: -50px;
    width: 100%;
    background-color: #ffffff;
    padding: 40px; /* Adjust padding */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}




#w3-container h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#w3-container h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

#w3-container h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#w3-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}


/* تحديد النمط العام للقائمة */
#content ul {
    list-style-type: none; /* إزالة نقاط القائمة */
    padding: 0; /* إزالة التباعد الداخلي */
}

/* تحديد النمط لعناصر القائمة داخلها */
#content ul li {
    margin-bottom: 10px; /* تباعد بين عناصر القائمة */
    font-size: 16px; /* حجم النص */
}

/* تحديد النمط للروابط */
#content ul li a {
    color: #007bff; /* لون الروابط */
    text-decoration: none; /* إزالة تحديد الروابط */
}

/* تحديد النمط للروابط عند تمرير المؤشر عليها */
#content ul li a:hover {
    text-decoration: underline; /* تحديد الروابط عند التمرير عليها */
}
